/* third button */
.btn-35,
.btn-35 *,
.btn-35 :after,
.btn-35 :before,
.btn-35:after,
.btn-35:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-35 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#000;
  background-image: none;
  color: 
#fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-35:disabled {
  cursor: default;
}
.btn-35:-moz-focusring {
  outline: auto;
}
.btn-35 svg {
  display: block;
  vertical-align: middle;
}
.btn-35 [hidden] {
  display: none;
}
.btn-35 {
  --height: 4rem;
  border: 1px solid;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: var(--height);
  overflow: hidden;
  padding: 0 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn-35 span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.btn-35:before {
  --middle: calc(var(--height) / 2);
  background: 
  #055b66;
  content: "";
  height: 100%;
  left: calc(var(--height) * -1);
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  transform-origin: var(--middle) var(--middle);
  transition: transform 0.3s;
  width: calc(100% + var(--height));
  z-index: -1;
}
.btn-35:hover:before {
  transform: rotate(0deg);
}
body{
    background-color: #000;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    overflow: hidden;
}
nav{
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header img{
    width: 25rem;
}
header{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}
.logo{
  color: #ffffff;
    margin-left: 2%;
    font-size: 2rem;
    margin-top: 2%;
    font-family:'sans-serif';
}
.txt{
    width: 50%;
}
.txt h1{
  color: #FFFDD7;
  overflow: hidden;
  border-right: 0.15rem solid orange;
  white-space: nowrap;
    font-size: 1.80rem;
    font-family:'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
    animation: typing 2s steps(30, end) infinite;
}
.txt .main, .sec{
  font-size: 1.5rem;
  color:#197e8b ;
  font-weight: 600;

}
@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 22%;
  }
}
.txt .final{
    font-size: 0.95rem;
    word-spacing: 3px;
    color: #FFFDD7;
}
a:hover{
    transition: 0.2s ease-in;
    color: rgb(185, 180, 180);
    cursor: pointer;
}
a{
  color:#055b66;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}
.view, .create{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(247, 247, 247, 0.616);
  padding: 5px;
}